/*===============================================*/
                    /*ALIGN TEXTS*/
/*===============================================*/
.t
    &-l
        text-align: left
    &-c
        text-align: center
    &-r
        text-align: right


.my-tc
    +respond(big-desktop)
        text-align: center
    +respond(desktop)
        text-align: center
    +respond(tab-land)
        text-align: center
    +respond(tab-port)
        text-align: center
    +respond(phone)
        text-align: left

.my-tc-invert
    +respond(big-desktop)
        text-align: left
    +respond(desktop)
        text-align: left
    +respond(tab-land)
        text-align: left
    +respond(tab-port)
        text-align: center
    +respond(phone)
        text-align: center

.hidde-desk
    +respond(big-desktop)
        display: block
    +respond(desktop)
        display: block
    +respond(tab-land)
        display: block
    +respond(tab-port)
        display: none
    +respond(phone)
        display: none
.show-phone
    +respond(big-desktop)
        display: none
    +respond(desktop)
        display: none
    +respond(tab-land)
        display: none
    +respond(tab-port)
        display: block
    +respond(phone)
        display: block
/*===============================================*/
                    /*TRICK*/
/*===============================================*/
.p
    &-st
        position: static!important
        text-align: right
    &-rl
        position: relative!important
        +respond(tab-port)
            position: static!important

.d-f
    display: flex
    justify-content: space-between

.table-back
    background: #F6F6F6
.table-bor
    border-right: solid .1rem #F6F6F6

main
    +respond(phone)
        padding-top: 8.5rem