/*===============================================*/
                    /*ALIGN TEXTS*/
/*===============================================*/
.t
    &-l
        text-align: left
    &-c
        text-align: center
    &-r
        text-align: right
/*===============================================*/
                    /*TRICK*/
/*===============================================*/
.p
    &-st
        position: static!important
    &-rl
        position: relative!important