=transition($duration)
    -webkit-transition: ease all $duration
    -moz-transition: ease all $duration
    -ms-transition: ease all $duration
    -o-transition: ease all $duration
    transition: ease all $duration
