.beforefooter
    background: linear-gradient(to right, #7ed56f, #28b485)
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    padding: 5rem 0

.heading-tertiary
    font-family: $p-reg
    font-size: 1.6rem
    color: #828382
    font-weight: 700
    text-transform: uppercase

.feature-box__text
    font-family: $p-reg
    font-weight: 400
    line-height: 1.7
    color: #777

.feature-box 
    background-color: rgba(255, 255, 255, 0.8)
    font-size: 1.5rem
    display: block
    text-decoration: none
    padding: 2.5rem
    text-align: center
    border-radius: 3px
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15)
    transition: transform .3s ease
    &:hover
        transform: translateY(-1.5rem) scale(1.03)

.feature-box__icon 
    font-size: 6rem!important
    margin-bottom: .5rem!important
    display: inline-block!important
    background-image: linear-gradient(to right, #7ed56f, #28b485)!important
    -webkit-background-clip: text!important
    background-clip: text!important
    color: transparent!important
