.beforefooter
    background: rgba(26, 171, 91, .8)
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    padding: 5rem 0

.heading-tertiary
    font-family: $p-reg
    font-size: 1.6rem
    color: #fff
    font-weight: 700
    text-transform: uppercase

.feature-box__text
    font-family: $p-reg
    font-weight: 400
    line-height: 1.7
    color: #fff

.feature-box 
    background: rgba(26, 171, 91, .0)
    font-size: 1.5rem
    display: block
    text-decoration: none
    padding: 2.5rem
    text-align: center
    transition: all .3s ease
    &:hover
        border-radius: 3px
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15)

.feature-box__icon 
    font-size: 6rem!important
    margin-bottom: .5rem!important
    display: inline-block!important
    background: #fff!important
    -webkit-background-clip: text!important
    background-clip: text!important
    color: transparent!important
