.slider
    position: relative
    width: 100%
    height: 58rem
    +respond(tab-land)
        height: 50rem
    +respond(phone)
        height: 27rem
    &__img
        width: 100%
        height: 100%
        position: relative
        +respond(phone)
            height: 27rem
        img
            width: 100%
            height: 100%


.insideImg
    &__text
        +slidertextparent
        width: 35%
        &--icon
            +slidericon
        h2
            +slidertexttitle
        p
            +slidertextdesc
        a
            +sliderbutton
    &__img
        position: absolute
        top: 50%
        right: 23%
        transform: translate(50%, -50%)
        opacity: 1
        width: 20%
        +respond(tab-land)
            right: 15%
            width: 26%
        +respond(phone)
            display: none

.insideImgtwo
    &__text
        +slidertextparent
        width: 35%
        // animation-name: topTobottom
        // animation-duration: 1s
        &--icon
            +slidericon
        h2
            +slidertexttitle

        p
            +slidertextdesc

        a
            +sliderbutton

    &__leftimg
        position: absolute
        top: 28%
        left: 6%
        opacity: 1
        width: 31%
        transform: translateX(0%)
        +respond(tab-land)
            top: 48%
            left: 3%
            width: 35%
        +respond(tab-port)
            left: 0%
            width: 34%
        +respond(phone)
            display: none

    &__rightimg
        bottom: 0%
        position: absolute
        right: 18%
        opacity: 1
        width: 16%
        height: 57%
        transform: translateX(0%)
        +respond(tab-land)
            height: 50%
        +respond(tab-port)
            right: 13%
            width: 18%
        +respond(phone)
            display: none



.insideImgthree
    &__text
        +slidertextparent
        width: 35%
        +respond(tab-port)
            width: 40%
        &--icon
            +slidericon
        h2
            +slidertexttitle

        p
            +slidertextdesc

        a
            +sliderbutton
    &__rightimg
        bottom: -4%
        position: absolute
        right: 29%
        opacity: 1
        width: 17%
        transform: translateX(0%)
        +respond(tab-land)
            bottom: 0%
            right: 25%
        +respond(tab-port)
            bottom: 10%
            right: 21%
        +respond(phone)
            display: none


#carousel
    width: 100%!important
    height: 100%!important
aside[id="carousel-breadcrumbs"]
    display: inline-block!important
    transform: translateX(50%)!important
    right: 50%!important