.contact
    padding: 6rem 0
    &__form
        padding: 0 2rem 0 
        margin-bottom: 1rem
        +respond(phone)
            margin-bottom: 3rem
        &--title
            margin-bottom: 3rem
            h2
                font-family: $a-med
                font-weight: 500
                line-height: 1.1
                font-size: 3rem
                color: $gray
        &--fullname
            +inputGraper
            input[type="text"]
                +inputStyles
        &--email
            +inputGraper
            input[type="email"]
                +inputStyles
        &--numbers
            +inputGraper
            input[type="number"]
                +inputStyles
        &--message
            width: 100%
            height: 19rem 
            max-height: 19rem
            margin-bottom: 2rem
            textarea
                resize: none
                +inputStyles
        &--button
            input[type="submit"],
            p
                color: $white
                background-color: $othergreen
                font-family: $a-reg
                border-radius: 2rem
                font-size: 1.6rem
                padding: 1.3rem 3rem
                border: none
                display: inline-block
                +transition(.3s)
                cursor: pointer
                &:hover
                    background-color: #225031 
    &__send //this is the message when you send the form
        position: absolute
        transform: translateY(-50%)
        padding: 0 2rem 3rem 2rem
        display: block
        opacity: 0
        visibility: hidden
        +transition(.4s)
        &--check
            text-align: center
            margin-bottom: 2rem
            display: inline-flex
            width: 100%
            height: 100%
            justify-content: center
            img
                width: 20%
                height: 70%
        &--bigmessage
            margin-bottom: 2rem
            p
                font-family: $a-med
                font-size: 3rem
                color: $gray
                text-align: center
        &--lowmessage
            p
                font-family: $a-med
                font-size: 1.6rem
                color: #c1c0c0
                text-align: ce
                margin-bottom: 2rem
    &__message //this message is for the validation of contact form
        padding: 0 2rem 0
        margin-bottom: .5rem
        display: none
        &--wrong
            padding: 1rem 1.4rem
            background: rgba(245, 55, 55, 0.97)
            border-radius: 1.5rem
            text-align: center
            p
                font-size: 1.3rem
                color: $white
                font-family: $p-reg
                font-weight: lighter
        &--success
            padding: 1rem 1.4rem
            background: #468dcb
            text-align: center
            p
                font-size: 1.3rem
                color: $white
                font-family: $p-reg
                font-weight: lighter
    &__description
        padding: 0 0 0 2rem
        &--title
            margin-bottom: 2rem
            h2
                font-family: $a-med
                font-size: 3rem
                color: $gray
                font-weight: 500    
        &--text
            margin-bottom: 4rem
            p
                font-size: 1.4rem
                color: $gray
                line-height: 2.5rem
                font-family: $p-reg
                // this is onli for the finances styles(call a little trick) 
                &:nth-child(2)
                    padding: 2rem 0

        &--phones
            margin-bottom: 2rem
            ul
                li
                    list-style: none
                    display: inline-block
                    text-align: center
                    &:not(:last-child)
                        margin-right: 1rem
                    img
                        border-radius: 50%
                    p
                        font-size: 1.2rem
                        color: $gray
                        line-height: 2.5rem
                        font-family: $p-reg
                        span
                            margin-right: .5rem

        &--contactus
            margin-bottom: 4rem
            &_title
                margin-bottom: 2rem
                h4
                    font-family: $a-reg
                    font-weight: 500
                    font-size: 1.8rem
                    line-height: 1.1
                    color: $gray
            ul
                li
                    list-style: none
                    font-size: 1.4rem
                    color: $gray
                    line-height: 2.5rem
                    font-family: $p-smb
                    font-weight: 600
                    margin-bottom: 1rem
                    i
                        color: #004f4f
                        margin-right: .50rem
                    span
                        font-family: $p-reg
                    a
                        text-decoration: none
                        color: #004f4f
                        font-family: $p-smb
        &--social
            ul
                li
                    list-style: none
                    display: inline-flex
                    justify-content: center
                    align-items: center
                    background-color: $lightgreen
                    width: 3.5rem
                    height: 3.5rem
                    border-radius: 50%
                    &:not(:last-child)
                        margin-right: .5rem
                    a
                        text-decoration: none
                        color: $white
                        font-size: 1.6rem

// for wsp icon

.wsp
    display: inline-block
    position: fixed
    bottom: 2rem
    right: 2rem
    z-index: 3
    +respond(phone)
        bottom: 1rem
        right: 1rem
    a
        text-decoration: none
        display: flex
        justify-content: center
        align-items: center
        background: #3CE561
        color: $white
        width: 7rem
        height: 7rem
        font-size: 4.5rem
        border-radius: 50%
        +transition(.2s)
        +respond(phone)
            width: 5rem
            height: 5rem
            font-size: 3.5rem 
        &:hover
            transform: scale(1.2)

// just for responsive

.maincontact .greenbar .greenbar__return
    display: none

.quiteform
    display: none
    opacity: 0
    visibility: hidden
    +transition(.3s)
.addmessage
    opacity: 1
    visibility: visible
    position: relative
    transform: none
    +transition(.6s)