.post
    padding: 5rem 0 8rem 0
    &__content
        border: 1px solid #ddd
        border-radius: 1rem
        padding: 3rem
        &--img
            width: 100%
            height: auto
            img
                width: 100%
                height: 100%
        &--details
            padding: 2rem 0 1rem 0
            border-bottom: 1px solid #ddd
            margin-bottom: 4rem
            &_date
                p
                    font-size: 1.8rem
                    color: #222
                    font-family: $p-smb
                    span
                        font-size: 3.4rem
                        color: #5bb300
            &_comments
                a
                    text-decoration: none
                    font-size: 1.3rem
                    color: #555
                    font-family: $p-reg
                    font-weight: lighter
        &--title
            margin-bottom: 2rem
            h1
                font-size: 3rem
                color: #222
                font-family: $p-smb
                font-weight: lighter
        &--text
            margin-bottom: 2rem
            p
                font-size: 1.4rem
                color: $gray
                line-height: 2.5rem
                font-family: $p-reg
    &__social
        padding: 3rem 0 2rem 0
        border-bottom: 1px solid #ddd
        &--share
            display: inline-block
            margin-right: 3rem
            p
                font-size: 1.4rem
                color: #222
                font-family: $p-smb
                display: inline-block
        &--icons
            display: inline-block
            li
                list-style: none
                display: inline-block
                &:not(:last-child)
                    margin-right: 3rem
                a
                    text-decoration: none
                    font-size: 1.4rem
                    color: #666
                    +transition(.2s)
                    &:hover
                        color: #5bb300 
    &__author
        padding: 7rem 0
        &--title
            margin-bottom: 1.5rem
            p
                font-size: 1.8rem
                color: #333
                font-family: $a-med
        &--content
            padding: 3rem 3rem 4rem 3rem
            border: 1px solid #ddd
            border-radius: .5rem
            &_user
                img
                    border-radius: 50%
            &_userinfo
                &-name
                    h5
                        font-size: 1.4rem
                        color: #333
                        font-family: $p-smb
                &-info
                    p
                        font-size: 1.4rem
                        color: #222
                        font-family: $p-reg
                        display: inline-block
    &__putcomments
        &--title
            margin-bottom: 1.5rem
            p
                font-size: 1.8rem
                color: #333
                font-family: $a-med
        &--inp
            width: 100%
            margin-bottom: 1rem
            input
                width: 100%
                border: .1rem solid #dddddd
                border-radius: .5rem
                padding: 1rem 2rem
                font-size: 1.4rem
            textarea
                width: 100%
                resize: none
                padding: 1.4rem 2rem
                border: .1rem solid #dddddd
                border-radius: .5rem
                font-size: 14px
                height: 20rem
                margin-bottom: 1rem

.putForMargin
    margin-bottom: 3rem
